body{
    margin : 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

.dark-mode {
  background-color: hsl(0, 0%, 20%);
  color: #fff;
}


.MuiTextField-root:focus {
  border-color: blue;
}


@media(max-width: 539px){
 .boxs{
    width: 50%;
      margin: 20px
    }
}